---
import Layout from '../layouts/Layout.astro';
import Calendly from "../components/Calendly.astro";
import "../styles/base.css"

const calendlyUrl = "https://calendly.com/josephzlnay/strategychat?hide_landing_page_details=0&hide_gdpr_banner=1&background_color=f6f6f6&text_color=ffffff&primary_color=86efac";

---

<Layout title="Growth Acquisition">
	<!-- Hero -->
	<main class="bg-black text-white text-center">
		<header class="flex justify-center lg:justify-between max-w-6xl mx-auto px-6 xl:px-0 pt-6 items-center">
			<div>
				<span class="font-semibold text-xl">Growth Acquisition</span>
			</div>
			<div>
				<button class="hidden lg:inline-block uppercase font-medium py-3 px-7 rounded-xl border-2 text-pink-500 border-pink-500 hover:bg-pink-500 hover:text-white transition duration-200" onclick="document.getElementById('booking-section').scrollIntoView();">Speak to us</button>
			</div>
		</header>
		<div class="min-h-screen py-12 px-6 lg:px-20">
			<div class="lg:pb-10 lg:grid grid-cols-2 gap-12 lg:text-left max-w-6xl mx-auto">
				<div class="flex items-center">
					<div>
						<h1 class="py-2.5 text-3xl lg:text-5xl font-bold">We help DTC brands become industry leaders with <span class="text-pink-500">UGC</span> 📸</h1>
						<p class="py-2.5 font-extralight lg:text-lg">A performance agency that specialises in UGC & TikTok Ads For Online Brands.</p>
					</div>
				</div>
				<div class="py-2.5 flex justify-center">
					<script src="https://fast.wistia.com/embed/medias/4o3eg02q5u.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_4o3eg02q5u" style="height:300px;position:relative;width:225px"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/4o3eg02q5u/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div>
				</div>
			</div>
			<div class="py-2.5 flex justify-center">
				<button class="text-white bg-gradient-to-br from-pink-400 to-pink-600 rounded-full p-4 flex items-center justify-center" onclick="document.getElementById('booking-section').scrollIntoView();">
					<div class="pl-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;" class=""><path d="M20 10.999h2C22 5.869 18.127 2 12.99 2v2C17.052 4 20 6.943 20 10.999z"></path><path d="M13 8c2.103 0 3 .897 3 3h2c0-3.225-1.775-5-5-5v2zm3.422 5.443a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696z"></path></svg>
					</div>
					<span class="text-left lg:text-md px-6">Book a Call With Our UGC Experts Today</span>
				</button>
			</div>
			<h2 class="py-2.5"><span class="uppercase text-xs font-extralight p-1 bg-stone-700 rounded-sm">💡 Featured/Worked With</span></h2>
			<!--Images-->
			<div class="py-2.5 flex justify-center">
				<img src="/md.png" alt="" />
			</div>
		</div>
	</main>
	<!-- Hero -->
	<!-- -->
	<!-- Drop Down Section -->
	<section class="px-6 pb-20 pt-12 lg:pt-24">
		<div class="max-w-3xl mx-auto">
			<h1 class="text-3xl lg:text-5xl font-bold text-center">The 2 <span class="text-pink-500">Critical components</span> to making TikTok work for your Brand. ⬇️</h1>
			<!-- Dropdown Container Grid -->
			<div class="py-20">
				<div class="max-w-3xl mx-auto px-6">
					<div class="border-t">
						<div class="accordion-header flex items-center justify-between">
							<div class="flex items-center">
								<span>
									<svg viewBox="0 0 24 24" preserveAspectRatio="none" height="40" width="40"><path data-color="color-2" data-fill="#444444" d="M17,5h-2V3H7V1h9c0.552,0,1,0.447,1,1V5z"></path> <path data-fill="#444444" d="M23.55,8.165c-0.28-0.186-0.635-0.217-0.944-0.084L17,10.484V7c0-0.553-0.448-1-1-1H1C0.448,6,0,6.447,0,7 v14c0,0.553,0.448,1,1,1h15c0.552,0,1-0.447,1-1v-3.484l5.606,2.403C22.732,19.974,22.866,20,23,20c0.193,0,0.385-0.056,0.55-0.165 C23.831,19.649,24,19.336,24,19V9C24,8.664,23.831,8.351,23.55,8.165z M5,12c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1 c0.552,0,1,0.448,1,1C6,11.552,5.552,12,5,12z"></path></svg>
								</span>
								<h2 class="text-3xl font-bold pl-4">UGC</h2>
							</div>
							<i class="bx bx-chevron-down text-3x1"></i>
						</div>
						<div class="accordion-body">
							<div class="p-4">
								<p>
									User-generated content.
									<br><br>It’s the short-form, visually compelling content that your audience resonates with.
									<br><br>And more specifically, it’s taking the world by storm. 
									<br><br>UGC helps you build trust and credibility with your audience, while providing a steady stream of content that keeps your TikTok channel active and interesting. 
									<br><br>TikTok is all about engaging, authentic content that resonates with its users, and UGC is the key to unlocking that potential. 
									<br><br>By leveraging the creativity and authenticity of your followers, you can create content that is relatable, engaging, and showcases your brand in a natural way. 
									<br><br>And every brand that doesn't want to get left behind, needs to consistently produce great UGC Videos!
									<br><br>So let’s talk about consistency for a minute.
									<br><br>Being able to produce content on demand without losing time or energy is difficult, we know.
									<br><br>It’s difficult to navigate the content space without the headaches of:
									<br><br>Finding Creators
									<br><br>Messaging Them
									<br><br>Negotiating Rates
									<br><br>Editing Their Content
									<br><br>Going Back and Forth with Revisions...
									<br><br>That’s why we’ve built a straight-forward UGC production system that takes care of all of this for you.
									<br><br>Without the headache of spending days, weeks and months trying to navigate this new form of marketing, on your own.
									<br><br>We build highly converting video content to go viral and increase profitability for Ecomm Brands.
									<br><br>Schedule in a call with us today and we’ll explain exactly how you can do this for your own brand.
								</p>
							</div>
						</div> 
					</div>
					<div class="border-y">
						<div class="accordion-header flex items-center justify-between">
							<div class="flex items-center">
								<span>
									<svg viewBox="0 0 32 32" height="40" width="40" preserveAspectRatio="none"><path data-color="color-2" data-fill="#444444" d="M22,30h-3v-3h-6v3h-3c-0.553,0-1,0.447-1,1s0.447,1,1,1h12c0.553,0,1-0.447,1-1 S22.553,30,22,30z"></path> <path data-fill="#444444" d="M31,3h-3V1c0-0.552-0.448-1-1-1H16c-0.552,0-1,0.448-1,1v2H1C0.447,3,0,3.447,0,4v20c0,0.553,0.447,1,1,1h3 v2c0,0.552,0.448,1,1,1h6c0.552,0,1-0.448,1-1v-2h19c0.553,0,1-0.447,1-1V4C32,3.447,31.553,3,31,3z M21.5,12 c0.828,0,1.5,0.672,1.5,1.5S22.328,15,21.5,15S20,14.328,20,13.5S20.672,12,21.5,12z M8,26c-0.552,0-1-0.448-1-1 c0-0.552,0.448-1,1-1s1,0.448,1,1C9,25.552,8.552,26,8,26z M30,23H12v-8c0-0.552-0.448-1-1-1H5c-0.552,0-1,0.448-1,1v8H2V5h13v11 c0,0.552,0.448,1,1,1h11c0.552,0,1-0.448,1-1V5h2V23z"></path></svg>
								</span>
								<h2 class="text-3xl font-bold pl-4">Tiktok Ads</h2>
							</div>
							<i class="bx bx-chevron-down text-3x1"></i>
						</div>
						<div class="accordion-body">
							<div class="p-4">
								<p>
									User-generated content.
									<br><br>It’s the short-form, visually compelling content that your audience resonates with.
									<br><br>And more specifically, it’s taking the world by storm. 
									<br><br>UGC helps you build trust and credibility with your audience, while providing a steady stream of content that keeps your TikTok channel active and interesting. 
									<br><br>TikTok is all about engaging, authentic content that resonates with its users, and UGC is the key to unlocking that potential. 
									<br><br>By leveraging the creativity and authenticity of your followers, you can create content that is relatable, engaging, and showcases your brand in a natural way. 
									<br><br>And every brand that doesn't want to get left behind, needs to consistently produce great UGC Videos!
									<br><br>So let’s talk about consistency for a minute.
									<br><br>Being able to produce content on demand without losing time or energy is difficult, we know.
									<br><br>It’s difficult to navigate the content space without the headaches of:
									<br><br>Finding Creators
									<br><br>Messaging Them
									<br><br>Negotiating Rates
									<br><br>Editing Their Content
									<br><br>Going Back and Forth with Revisions...
									<br><br>That’s why we’ve built a straight-forward UGC production system that takes care of all of this for you.
									<br><br>Without the headache of spending days, weeks and months trying to navigate this new form of marketing, on your own.
									<br><br>We build highly converting video content to go viral and increase profitability for Ecomm Brands.
									<br><br>Schedule in a call with us today and we’ll explain exactly how you can do this for your own brand.
								</p>
							</div>
						</div> 
					</div>
				</div>
			</div>
			<!-- Dropdown Container Grid -->
			
		</div>
		<div class="flex justify-center" >
			<button class="text-white bg-gradient-to-br from-pink-400 to-pink-600 rounded-full p-4 flex items-center justify-center" onclick="document.getElementById('booking-section').scrollIntoView();">
				<div class="pl-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;" class=""><path d="M20 10.999h2C22 5.869 18.127 2 12.99 2v2C17.052 4 20 6.943 20 10.999z"></path><path d="M13 8c2.103 0 3 .897 3 3h2c0-3.225-1.775-5-5-5v2zm3.422 5.443a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696z"></path></svg>
				</div>
				<span class="text-left lg:text-md px-6">Book a Call With Our UGC Experts Today</span>
			</button>
		</div>

	</section>
	<!-- Drop Down Section -->
	<!-- -->
	<!-- Headline Section -->
	<section class="py-12 lg:py-20 px-6 bg-black text-white text-center">
		<h1 class="text-3xl lg:text-5xl font-bold">Eye-catching content that captivates ⚡️</h1>
		<p class="pt-5 lg:text-xl font-extralight lg:font-light"><span>Our clients are loving this UGC style - and for good reason!</span></p>
		<div class="p-10 lg:py-20 grid lg:grid-cols-3 gap-10 justify-items-center max-w-6xl mx-auto">
			<script src="https://fast.wistia.com/embed/medias/sycbpog0tw.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_sycbpog0tw" style="height:400px;position:relative;width:225px"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/sycbpog0tw/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div>

			<script src="https://fast.wistia.com/embed/medias/goxs03emj4.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_goxs03emj4" style="height:400px;position:relative;width:225px"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/goxs03emj4/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div>

			<script src="https://fast.wistia.com/embed/medias/bn8fx07miu.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_bn8fx07miu" style="height:399px;position:relative;width:225px"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/bn8fx07miu/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div>
		</div>

		<div class="flex justify-center">
			<button class="text-white bg-gradient-to-br from-pink-400 to-pink-600 rounded-full p-4 flex items-center justify-center" onclick="document.getElementById('booking-section').scrollIntoView();">
				<div class="pl-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;" class=""><path d="M20 10.999h2C22 5.869 18.127 2 12.99 2v2C17.052 4 20 6.943 20 10.999z"></path><path d="M13 8c2.103 0 3 .897 3 3h2c0-3.225-1.775-5-5-5v2zm3.422 5.443a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696z"></path></svg>
				</div>
				<span class="text-left lg:text-md px-6">Book a Call With Our UGC Experts Today</span>
			</button>
		</div>
	</section>
	<!-- Headline Section -->
	<!-- -->
	<!-- CTA Section -->
	<section class="py-12 px-6" id="booking-section">
		<!-- Booking Info -->
		<div class="max-w-6xl mx-auto lg:grid grid-cols-2 gap-12">
			<div class="pt-10">
				<p class="text-xl">Schedule your call with our team</p>
				<h1 class="text-3xl font-bold pt-5"><span class="text-pink-500">TikTok + UGC </span>Growth Strategy Session 💡 </h1>
				<p class="text-lg font-light pt-5">
					By the end of this strategy session, you'll leave with a clear understanding of how to crack TikTok to start generating millions of dollars in revenue and impressions. 
					<br><br>We're very selective with partners we work with as we invest a lot of time and effort in our clients, often integrating as A-Team employees with your brand.
					<br><br>Scroll below to secure a spot on our calender.</p>
				<h2 class="text-pink-500 text-lg font-semibold pt-5">THIS CALL IS FOR YOU IF:</h2>
				<ul class="py-2">
					<li class="flex items-center py-4">
						<span><svg viewBox="0 0 24 24" preserveAspectRatio="none" height="40" width="40"><path data-fill="#444444" d="M17,16c-2.951,0-5.403-0.639-7-1.712c0,0.746,0,1.238,0,1.712c0,1.657,3.134,3,7,3s7-1.343,7-3 c0-0.474,0-0.966,0-1.712C22.403,15.361,19.951,16,17,16z"></path> <path data-fill="#444444" d="M17,21c-2.951,0-5.403-0.639-7-1.712c0,0.746,0,1.238,0,1.712c0,1.657,3.134,3,7,3s7-1.343,7-3 c0-0.474,0-0.966,0-1.712C22.403,20.361,19.951,21,17,21z"></path> <ellipse data-fill="#444444" cx="17" cy="11" rx="7" ry="3"></ellipse> <ellipse data-color="color-2" data-fill="#444444" cx="7" cy="3" rx="7" ry="3"></ellipse> <path data-color="color-2" data-fill="#444444" d="M8,17.973C7.673,17.989,7.341,18,7,18c-2.951,0-5.403-0.639-7-1.712C0,17.034,0,17.526,0,18 c0,1.657,3.134,3,7,3c0.34,0,0.673-0.014,1-0.034V17.973z"></path> <path data-color="color-2" data-fill="#444444" d="M8,12.973C7.673,12.989,7.341,13,7,13c-2.951,0-5.403-0.639-7-1.712C0,12.034,0,12.526,0,13 c0,1.657,3.134,3,7,3c0.34,0,0.673-0.014,1-0.034V12.973z"></path> <path data-color="color-2" data-fill="#444444" d="M9.92,7.766C9.018,7.916,8.042,8,7,8C4.049,8,1.597,7.361,0,6.288C0,7.034,0,7.526,0,8 c0,1.657,3.134,3,7,3c0.341,0,0.674-0.014,1.003-0.034C8.015,9.703,8.71,8.606,9.92,7.766z"></path></svg></span>
						<p class="pl-4">You are generating a minimum of $30k/month in revenue </p>
					</li>
					<li class="flex items-center py-4">
						<span><svg viewBox="0 0 24 24" preserveAspectRatio="none" height="40" width="40"><polygon data-color="color-2" data-fill="#444444" points="16,0.586 11,5.586 9,3.586 7.586,5 11,8.414 17.414,2 "></polygon> <path data-fill="#444444" d="M9.884,19.499C9.023,18.815,7.563,18,5.5,18s-3.523,0.815-4.383,1.498C0.407,20.061,0,20.912,0,21.836V24h11 v-2.164C11,20.912,10.593,20.061,9.884,19.499z"></path> <circle data-fill="#444444" cx="5.5" cy="13.5" r="3.5"></circle> <path data-fill="#444444" d="M22.884,19.499C22.023,18.815,20.563,18,18.5,18s-3.523,0.815-4.383,1.498 C13.407,20.061,13,20.912,13,21.836V24h11v-2.164C24,20.912,23.593,20.061,22.884,19.499z"></path> <circle data-fill="#444444" cx="18.5" cy="13.5" r="3.5"></circle></svg></span>
						<p class="pl-4">You own a DTC Ecomm Brand</p>
					</li>
					<li class="flex items-center py-4">
						<span><svg viewBox="0 0 24 24" preserveAspectRatio="none" height="40" width="40"><rect x="11" data-fill="#444444" width="2" height="6"></rect> <rect x="15.364" y="4.636" transform="matrix(0.7071 -0.7071 0.7071 0.7071 1.3935 14.6361)" opacity="0.9" data-fill="#444444" width="6" height="2"></rect> <rect x="18" y="11" opacity="0.8" data-fill="#444444" width="6" height="2"></rect> <rect x="17.364" y="15.364" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -7.6066 18.364)" opacity="0.7" data-fill="#444444" width="2" height="6"></rect> <rect x="11" y="18" opacity="0.6" data-fill="#444444" width="2" height="6"></rect> <rect x="2.636" y="17.364" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.3346 9.3639)" opacity="0.5" data-fill="#444444" width="6" height="2"></rect> <rect y="11" opacity="0.4" data-fill="#444444" width="6" height="2"></rect> <rect x="4.636" y="2.636" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.3345 5.636)" opacity="0.3" data-fill="#444444" width="2" height="6"></rect> </svg></span>
						<p class="pl-4">Businesses looking to diversify their content strategy and automate their UGC process </p>
					</li>
					<li class="flex items-center py-4">
						<span><svg viewBox="0 0 24 24" preserveAspectRatio="none" height="40" width="40"><path data-color="color-2" d="M11.484,6V7.1a4.143,4.143,0,0,0-2.27.812A2.123,2.123,0,0,0,8.4,9.622a2.332,2.332,0,0,0,.588,1.625A5.349,5.349,0,0,0,11,12.463l.481.186v2.224a8.019,8.019,0,0,1-1.568-.28,8.328,8.328,0,0,1-1.5-.545v1.893a7.95,7.95,0,0,0,3.07.617V18h.982V16.53a4.1,4.1,0,0,0,2.31-.829,2.273,2.273,0,0,0,.825-1.833,2.143,2.143,0,0,0-.28-1.1,2.723,2.723,0,0,0-.867-.868,11.005,11.005,0,0,0-1.991-.932V8.848a7.768,7.768,0,0,1,2.3.559l.674-1.678a8.126,8.126,0,0,0-2.97-.66V6Zm0,4.562a2.569,2.569,0,0,1-.707-.42.678.678,0,0,1-.219-.52q0-.609.926-.746Zm.982,2.474a3.173,3.173,0,0,1,.732.431.646.646,0,0,1,.244.509q0,.681-.976.846Z" data-fill="#444"></path><path d="M12,0A11.943,11.943,0,0,0,4.8,2.406L3,0,.6,6.8l7.2-.4L6,4.005a9.995,9.995,0,1,1-4,8,1,1,0,0,0-2,0A12,12,0,1,0,12,0Z" data-fill="#444"></path></svg></span>
						<p class="pl-4">Businesses who want to supercharge their growth with optimised TikTok Ads </p>
					</li>
				</ul>
				
			</div>
			<!-- Booking Info -->
			<div>
				<Calendly calendlyUrl={calendlyUrl} />
			</div>
		</div>
	</section>
	<!-- CTA Section -->


	<script src="/accordion.js" is:inline></script>	
	<footer class="pb-10 text-center">© 2023 Growth Acquisition.</footer>
</Layout>
